* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    background-color: rgb(0, 191, 255);
}

.inputbox{
    border-radius: 3px;
    border: 2px solid rgb(135, 206, 250);
    width: 20%;
    height: 40px;
    font-family: sans-serif;
    padding-left: 10px;
}

button{
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bold;
    width: 10%;
    background-color: rgb(0, 191, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(135, 206, 250);
    cursor: pointer;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 50px;    
}

#titulo{
    font-family: sans-serif;
    color: rgb(105, 105, 105);
    text-align: center;
}

#subtitulo{
    font-family: sans-serif;
    color: rgb(105, 105, 105);
    font-size: 1em;
    text-align: center;
}

table{
    border-collapse: collapse;
    border: 1px solid;
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(105, 105, 105);
    width: 50%;
    margin: auto;
  
}


th{
    border-collapse: collapse;
    border: 1px solid #A9A9A9;
    height: 30px;
}

tr{
    border-collapse: collapse;
    border: 1px solid #A9A9A9;
    height: 30px; 
}

td{
    border-collapse: collapse;
    border: 1px solid #A9A9A9;
    height: 30px; 
}

.id{
    text-align: center;
}

.name{
    text-align: left;
    padding-left: 5px;
}

.participation{
    text-align: center;
    width: 20%;
}

